<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka"
             type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <akka>    
    <hocon>
      <![CDATA[
          akka {
            log-config-on-start = off
            stdout-loglevel = INFO
            loglevel = INFO                        
            
            actor {
              provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
              
              deployment {          
                /ReaderActor {
                  router = round-robin-group
                  nr-of-instances = 7
                  routees.paths = ["/user/ReaderActor"]
                  cluster {
                    enabled = on
                    max-nr-of-instances-per-node=7
                    allow-local-routees = off
                    use-role = api
                  }
                }
              }  
              
            }

            remote {
               helios.tcp {
                  hostname = "127.0.0.1"
                  port = 0                  
               }
            }
            
            cluster {
              seed-nodes = ["akka.tcp://globomantics@127.0.0.1:4053"]
              roles = [server]
            }

       }
      ]]>
    </hocon>
  </akka>  
</configuration>